.titulo-destaque {
  color: rgb(30, 0, 161);
  text-decoration: none;
  font-weight: 600;

  display: inline-block;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titlesSub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.taskDone {
    background-color: #4CAF50; /* verde */
    color: white;
}

.taskCancel {
    background-color: #F44336; /* vermelho */
    color: white !important;
}


.done {
    background: #45801e;
    color: #F4F0EA !important;
}
